In [1]:
import pandas as pd

At løbe 5 mph (12 min/mile) i 30 min koster 240 kalorier.

Kilde: Harvard University 
https://www.health.harvard.edu/diet-and-weight-loss/calories-burned-in-30-minutes-for-people-of-three-different-weights


Svarer til: 8 km/t koster 1.000 kJ.

In [2]:
# Konvertion fra kalorier til KJ:
cal_kj = 4.184

Jeg løber 10 km/t, hvilket er 25% hurtigere. Men forbrændning afhænger ikke udelukkende af hastighed, så jeg vælger kun at forøge forbrænding med 15%.

Det giver:

1154 kJ for 10 km/t i 30 min.

For træning med vægte og sjippetov:

600 kJ for 30 min.

Jeg vejer 68 kg den 06.09.2023.

69 kg 22-04-2024 (eftermiddag med væske og frokost).

67.4 kg den 24.06.2024 (eftermiddag med væske og frokost).

68.2 kg 01.07.2024.

67.9 kg 12.07.2024. 

68.5 kg 28.07.2024.

68.8 kg 21.08.2024.

66.9 kg 12.09.2024. 

64.6 kg 12.10.2024.

64.3 kg 19.10.2024.

64.8 kg 26.10.2024.

65.8 kg 10.11.2024.

65.0 kg 21.12.2024.

In [4]:
energy_data = pd.read_csv('energi.csv')

In [5]:
df = energy_data.copy()
df.rename(columns={'energi (kJ/100g)':'energi'
    , 'energi/portion':'portion', 'protein/100g':'protein'}, inplace=True)
df.sort_values(by='portion', ascending=False, inplace=True)

df

                  fødevare  energi  portion  protein
20                      is    1250     3000      3.5
19                svinekød    1100     1600     25.7
27               spaghetti    1480     1480     10.0
26                hvedemel    1450     1450     10.0
10                     ris    1477     1340      6.8
39                 mandler    2423     1211     21.2
18            kyllingbryst     749     1123     31.0
40                    kalv     720     1080     24.4
2                havregryn    1528      900     11.7
30                   flute     800      800      8.0
41               karrysild    1275      750      5.1
36          søde kartofler     360      750      2.0
0                kartofler     322      700      2.0
23                 avocado     671      671      2.0
34              håndværker    1200      600      6.0
28               valnødder    2740      600     15.2
22                      æg     586      586     12.6
17                vindruer     288      576      0.7
24         Cultura yoghurt     285      570      4.2
13                   banan     372      558      1.1
12                     tun     552      552     28.0
31               roastbeef    1089      550     28.9
6                 kikærter     491      491      6.8
9             cremefraiche     785      490      3.1
29                   Cocio     197      480      3.9
8                   makrel     656      410     14.0
38  cheasy protein yoghurt     200      400      6.5
21               BBQ sauce     772      378      1.6
25           appelsinjuice     162      310      0.7
1                  rugbrød     900      300      6.4
14                appelsin     197      300      0.9
37                broccoli     142      300      2.8
35             leverpostej    1000      275     11.0
15              gulerødder     173      250      0.9
33                  blåbær     204      240      0.7
42      kyllingleverpostej     725      218     11.0
16                   agurk      67      200      0.7
11                 rosiner    1433      200      1.0
5            kaffe m. mælk     267      178      3.4
4                     mælk     267      178      3.4
3                     majs     354      115      2.8
32                   rejer     397      100     20.3
7               mayonnaise    1522       67      0.7

In [6]:
metab = 10_500

def e(food: str):
    return df.loc[df['fødevare'] == food, 'portion'].values[0]

In [7]:
dinner_meat = sum([e('rugbrød')*2, e('makrel')*3, e('mayonnaise')
    , e('appelsin'), e('banan'), e('gulerødder')*4
    , e('kyllingbryst'), e('agurk')*2, e('majs')*2
    , e('cremefraiche'), e('tun')/3
    , e('kaffe m. mælk')*6, 
    ])

normal_day = sum([e('rugbrød')*2, e('æg'), e('avocado'), e('mayonnaise') * 2
    , e('banan'), e('gulerødder')*3, e('tun')/3, e('cremefraiche')
    , e('agurk'), e('majs'), e('kikærter'), e('kaffe m. mælk')*5
    , e('vindruer') 
    ])

home_day = sum([e('rugbrød')*2, e('æg'), e('avocado'), e('mayonnaise') * 2
    , e('banan'), e('gulerødder')*4, e('tun')/3, e('cremefraiche')
    , e('agurk'), e('majs')*2, e('kikærter'), e('kaffe m. mælk')*5
    , e('vindruer') 
    ])

work = sum([e('kaffe m. mælk')*3, e('rugbrød'), e('flute'), e('mayonnaise')
    , e('roastbeef'), e('svinekød'), e('cremefraiche'), e('kartofler'), e('rugbrød')*2, e('avocado')
    , e('æg'), e('rejer'), e('mayonnaise')*2, e('Cocio')*3, e('vindruer'), e('majs')
    ])

In [8]:
work_fasting = sum([e('kaffe m. mælk')*4, e('mandler'), e('banan')*2, e('agurk')*2, e('kartofler'),
    e('kalv'), e('gulerødder')*4])

work_fasting_small = sum([e('kaffe m. mælk')*4, e('mandler'), e('banan')*3, e('gulerødder')*3,
    e('rugbrød')*2, e('avocado'), e('mayonnaise'), e('rejer'), e('karrysild'), e('blåbær')])

In [9]:
diet_list = [dinner_meat, normal_day, home_day, work, work_fasting, work_fasting_small]
diet_names = ['dinner_meat', 'normal_day', 'home_day', 'work', 'work_fasting', 'work_fasting_small']
metab_covered = [round(diet/metab,2) for diet in diet_list]
diet_table = pd.DataFrame({'diet': diet_names, 'energy': diet_list, 'metab_covered': metab_covered})

diet_table

                 diet  energy  metab_covered
0         dinner_meat  7250.0           0.69
1          normal_day  6245.0           0.59
2            home_day  6610.0           0.63
3                work  9263.0           0.88
4        work_fasting  6219.0           0.59
5  work_fasting_small  6775.0           0.65

In [10]:
today = sum([e('rugbrød')*4, e('æg')*1, e('avocado'), e('mayonnaise') * 2
    , e('banan'), e('gulerødder')*3, e('tun')/3, e('cremefraiche')
    , e('agurk'), e('majs'), e('kaffe m. mælk')*5
    , e('blåbær'), e('makrel'), e('rejer')
    ])

print(today)
print(today/metab)

6528.0
0.6217142857142857